package {{.PackageName}}

import (
	{{if .HasResponse}}"fmt"{{end}}
	"github.com/gplassard/woof/pkg/config"
	"github.com/gplassard/woof/pkg/client"
	"github.com/gplassard/woof/pkg/cmdutil"

	"github.com/DataDog/datadog-api-client-go/v2/api/datadogV2"
	{{range .ArgTypes}}{{if eq . "uuid.UUID"}}"github.com/google/uuid"{{break}}{{end}}{{end}}
	{{range .ArgTypes}}{{if eq . "time.Time"}}"time"{{break}}{{end}}{{end}}
	{{range .ArgTypes}}{{if eq . "[]string"}}"strings"{{break}}{{end}}{{end}}
	{{if contains .ResponseTypeGo "io."}}"io"{{end}}
	"github.com/spf13/cobra"
	{{range .ArgTypes}}{{if eq . "int64"}}"strconv"{{break}}{{end}}{{end}}
)

var {{.CommandName}} = &cobra.Command{
	Use:   "{{.Use}}",
	{{if .Aliases}}Aliases: []string{ {{range .Aliases}}"{{.}}",{{end}} },{{end}}
	Short: "{{.Short}}",
	Long:  `{{.Short}}
Documentation: {{.DocURL}}`,
	{{if .Args}}Args:  cobra.ExactArgs({{len .Args}}),{{end}}
	Run: func(cmd *cobra.Command, args []string) {
		apiKey, appKey, site := config.GetConfig()
		{{if .HasResponse}}var res {{if eq .ResponseTypeGo "interface{}"}}{{.ResponseTypeGo}}{{else if eq .ResponseTypeGo "string"}}string{{else if eq .ResponseTypeGo "int"}}int{{else if eq .ResponseTypeGo "int64"}}int64{{else if eq .ResponseTypeGo "float64"}}float64{{else if eq .ResponseTypeGo "bool"}}bool{{else if (contains .ResponseTypeGo ".")}}{{.ResponseTypeGo}}{{else}}datadogV2.{{.ResponseTypeGo}}{{end}}{{end}}
		var err error
	{{if .HasRequestBody}}
		var body datadogV2.{{.RequestBodyType}}
		err = cmdutil.UnmarshalPayload(cmd, &body)
		cmdutil.HandleError(err, "failed to read payload")
	{{end}}
		api := datadogV2.New{{.ApiBundleName}}Api(client.NewAPIClient())
		//nolint:staticcheck // SA1019: deprecated
		{{if .HasResponse}}res, _, err = {{else}}_, err = {{end}}api.{{.OperationID}}(client.NewContext(apiKey, appKey, site){{range $i, $type := .ArgTypes}}, {{if eq $type "uuid.UUID"}}uuid.MustParse(args[{{$i}}]){{else if eq $type "int64"}}func() int64 { i, _ := strconv.ParseInt(args[{{$i}}], 10, 64); return i }(){{else if eq $type "float64"}}func() float64 { f, _ := strconv.ParseFloat(args[{{$i}}], 64); return f }(){{else if eq $type "time.Time"}}func() time.Time { t, _ := time.Parse(time.RFC3339, args[{{$i}}]); return t }(){{else if eq $type "datadogV2.AssetType"}}datadogV2.AssetType(args[{{$i}}]){{else if eq $type "datadogV2.TeamSyncAttributesSource"}}datadogV2.TeamSyncAttributesSource(args[{{$i}}]){{else if eq $type "[]string"}}strings.Split(args[{{$i}}], ", "){{else}}args[{{$i}}]{{end}}{{end}}{{if .HasRequestBody}}, body{{end}})
		cmdutil.HandleError(err, "failed to {{.OperationID | toKebabCase}}")

		{{if .HasResponse}}fmt.Println(cmdutil.FormatJSON(res, "{{.ResourceType}}")){{end}}
	},
}

func init() {
	{{if .HasRequestBody}}
	{{.CommandName}}.Flags().StringP("payload", "p", "", "JSON payload of the request")
	{{.CommandName}}.Flags().StringP("payload-file", "f", "", "Path to the JSON payload file")
	{{end}}
	Cmd.AddCommand({{.CommandName}})
}
