package cmd

import (
	"os"
	"ouaf/cmd/util"
{{range .Imports}}	"{{.}}"
{{end}}
	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use:   "ouaf",
	Short: "ouaf is a Datadog CLI",
	Long:  `ouaf is a Datadog CLI built with Cobra.`,
}

func Execute() {
	rootCmd.PersistentFlags().StringVar(&util.ApiKey, "api-key", os.Getenv("DD_API_KEY"), "Datadog API Key")
	rootCmd.PersistentFlags().StringVar(&util.AppKey, "app-key", os.Getenv("DD_APP_KEY"), "Datadog App Key")
	rootCmd.PersistentFlags().StringVar(&util.Site, "site", "datadoghq.eu", "Datadog Site")

	rootCmd.AddCommand(
{{range .Commands}}		{{.}},
{{end}}	)
	err := rootCmd.Execute()
	if err != nil {
		os.Exit(1)
	}
}
