package cmd

import (
	"os"
	"github.com/gplassard/woof/pkg/config"
{{range .Imports}}	"{{.}}"
{{end}}
	"github.com/spf13/cobra"
)

var rootCmd = &cobra.Command{
	Use:   "woof",
	Short: "woof is a Datadog CLI",
	Long:  `woof is a Datadog CLI built with Cobra.`,
}

func Execute() {
	defaultSite := os.Getenv("DD_SITE")
	if defaultSite == "" {
		defaultSite = "datadoghq.com"
	}

	rootCmd.PersistentFlags().StringVar(&config.ApiKey, "api-key", os.Getenv("DD_API_KEY"), "Datadog API Key")
	rootCmd.PersistentFlags().StringVar(&config.AppKey, "app-key", os.Getenv("DD_APP_KEY"), "Datadog App Key")
	rootCmd.PersistentFlags().StringVar(&config.Site, "site", defaultSite, "Datadog Site")
	rootCmd.PersistentFlags().BoolVar(&config.Debug, "debug", false, "Enable debug logging")

	rootCmd.AddCommand(
{{range .Commands}}		{{.}},
{{end}}	)
	err := rootCmd.Execute()
	if err != nil {
		os.Exit(1)
	}
}
